.block {
    display: block;
    position: relative;
  }
  
  .reactangle_up {
    position: absolute;
    background-color: black;
    width: 20%;
    height: 8%;
    bottom: 68%;
    left: 2%;
  }
  
  .reactangle_down {
    position: absolute;
    background-color: black;
    width: 20%;
    height: 8%;
    bottom: 33%;
    left: 2%;
  }

  .reactangle_vertical {
    position: absolute;
    background-color: black;
    width: 42%;
    height: 8%;
    transform: rotate(90deg);
    bottom: 50%;
    left: -15%;
  }

  .reactangle_arrow {
    position: absolute;
    background-color: black;
    width: 30%;
    height: 8%;
    bottom: 50%;
    left: 22%;
  }

  .reactangle_arrow_up {
    position: absolute;
    background-color: black;
    width: 22%;
    height: 8%;
    transform: rotate(225deg);
    bottom: 55%;
    left: 37%;
  }

  .reactangle_arrow_down {
    position: absolute;
    background-color: black;
    width: 22%;
    height: 8%;
    transform: rotate(135deg);
    bottom: 45%;
    left: 37%;
  }