.counter__block {
  margin: 38px 54px 30px 54px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.task_list__ul {
  margin: 0;
  padding: 0;
}

.task_list__ul li {
  list-style-type: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding: 10px 0;
}

.task_list__circle {
  width: 25px;
  height: 25px;
  display: block;
  float: left;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  border-radius: 50%;
  margin-right: 15px;
}

.task_list__circle_current {
  border-color: #5cad6c;
  background-color: #5cad6c;
}

.task_list__circle_completed {
  border-color: #ef8655;
  background-color: #ef8655;
}

.task_list__circle_task {
  border-color: #ef8655;
}
