.header {
  display: flex;
  align-items: center;
  margin: 75px 0 45px 0;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

.header h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  margin: 0;
}

.header svg {
  padding: 0 16px 0 0;
  fill: black;
}

.header svg:hover {
  fill: var(--completed-task-color);
}

/* Заголовок на компьютере */
@media (min-width: 762px) {
  .header h2 {
    font-size: 40px;
  }

  .header svg {
    height: 40px;
  }
}

/* Заголовок на телефоне */
@media (max-width: 761px) {
  .header h2 {
    font-size: 2em;
  }

  .header svg {
    height: 2em;
  }
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
