/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

/* Блок количества заданий вне зависимости от устройства */
.counter__block {
  margin: 38px 0 30px 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

/* Блок количества заданий на компьютере */
@media (min-width: 762px) {
  .counter__block {
    margin: 38px 0 30px 0;
    font-size: 24px;
    line-height: 29px;
  }
}

/* Блок количества заданий на телефоне */
@media (max-width: 761px) {
  .counter__block {
    margin: 24px 0 16px 0;
    font-size: 1.6em;
  }
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

.task_list__ul {
  margin: 0;
  padding: 0;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

/* Элемент списка вне зависимости от устройства */
.task_list__ul li {
  list-style-type: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  padding: 10px 0;
}

.task_list__ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Элемент списка на компьютере */
@media (min-width: 762px) {
  .task_list__ul li {
    font-size: 24px;
    line-height: 29px;
  }
}

/* Элемент списка на телефоне */
@media (max-width: 761px) {
  .task_list__ul li {
    font-size: 1.2em;
  }
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

/* Кружок вне зависимости от устройства */
.task_list__circle {
  display: block;
  float: left;
  border: 3px solid black;
  border-radius: 50%;
}

/* Кружок на компьютере */
@media (min-width: 762px) {
  .task_list__circle {
    width: 25px;
    height: 25px;
    margin-right: 15px;
  }
}

/* Кружок на телефоне */
@media (max-width: 761px) {
  .task_list__circle {
    width: 12px;
    height: 12px;
    margin-right: 8px;
  }
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

.task_list__li_current .task_list__circle {
  border-color: var(--current-task-color);
  background-color: var(--current-task-color);
}

.task_list__li_completed .task_list__circle {
  border-color: var(--completed-task-color);
  background-color: var(--completed-task-color);
}

.task_list__li_task .task_list__circle {
  border-color: var(--task-color);
}

.task_list__li_completed .task_list__title {
  color: var(--not-selected-text-color);
}

.task_list__circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task_list__circle i {
  width: 16px !important;
  height: 16px !important;
}

.task_list__circle i span {
  background-color: white !important;
}
