.block {
  display: block;
  position: relative;
}

.reactangle_left {
  position: absolute;
  background-color: black;
  width: 40%;
  height: 8%;
  transform: rotate(45deg);
  bottom: 40%;
  left: 10%;
}

.reactangle_right {
  position: absolute;
  background-color: black;
  width: 60%;
  height: 8%;
  transform: rotate(135deg);
  bottom: 43%;
  left: 34%;
}
