.background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: calc(400px - 40px * 2);
  border-radius: 30px;
  padding: 40px;
}

/* Форма на компьютере */
@media (min-width: 762px) {
  .form {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  }
}

.form h2 {
  height: 80px;
  margin: 0;
  padding-bottom: 70px;
  text-align: center;

  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}

.form input {
  width: calc(100% - 25px - 2px * 2);
  height: 48px;
  margin-bottom: 25px;
  padding: 0 0 0 25px;

  background: rgba(217, 217, 217, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  color: black;

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.form input:hover {
  background-color: #fff;
  border: 2px solid black;
}

.form a {
  display: block;

  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #064af8;
  margin-bottom: 40px;
}

.form a:hover {
  text-decoration: underline;
}

.form button {
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 8px;

  border: 2px solid var(--current-task-color);
  color: #ffffff;
  background: var(--current-task-color);

  border-radius: 15px;

  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
}

.form button:hover {
  color: var(--current-task-color);
  background: transparent;
}
