.date_section {
  display: flex;
  align-items: center;
  justify-content: right;
}

.date_section input {
  padding: 8px;
  margin: 8px 0 8px 16px;
  border: 2px solid lightgray;
  border-radius: 8px;
}

/* Заголовок таски */

.title_section input {
  width: calc(100% - 8px * 2 - 2px * 2);
  padding: 8px;
  margin: 8px 0;
  border: 2px solid lightgray;
  border-radius: 8px;
}

/* Описание таски */

.description_section textarea {
  width: calc(100% - 8px * 2 - 2px * 2);
  max-width: calc(100% - 8px * 2 - 2px * 2);
  min-width: calc(100% - 8px * 2 - 2px * 2);
  padding: 8px;
  margin: 8px 0;
  border: 2px solid lightgray;
  border-radius: 8px;
}

/* Кнопки */

.buttons_section {
  display: flex;
  justify-content: center;
}

.buttons_section:last-child {
  padding-bottom: 54px;
}

.buttons_section button {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid var(--color-task-current);
  background-color: var(--color-task-current);
  color: white;
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
  font-size: 1.2em;
}

.buttons_section button svg {
  width: 1.2em;
  height: 1.2em;
  fill: white;
  padding-right: 8px;
}

.buttons_section button:hover {
  color: var(--color-task-current);
  background-color: transparent;
}

.buttons_section button:hover svg {
  fill: var(--color-task-current);
}

/*  */

.button_task_completed {
  border: 1px solid var(--color-task-completed) !important;
  background-color: var(--color-task-completed) !important;
}

.button_task_completed:hover {
  color: var(--color-task-completed) !important;
  background-color: transparent !important;
}

.button_task_completed:hover svg {
  fill: var(--color-task-completed) !important;
}

/*  */

.button_task_not_completed {
  border: 1px solid var(--color-task-not-completed) !important;
  background-color: var(--color-task-not-completed) !important;
}

.button_task_not_completed:hover {
  color: var(--color-task-not-completed) !important;
  background-color: transparent !important;
}

.button_task_not_completed:hover svg {
  fill: var(--color-task-not-completed) !important;
}
