/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

.counter_block {
  margin: 38px 0 30px 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

@media (min-width: 762px) {
  .counter_block {
    margin: 38px 0 30px 0;
    font-size: 24px;
    line-height: 29px;
  }
}

@media (max-width: 761px) {
  .counter_block {
    margin: 24px 0 16px 0;
    font-size: 1.6em;
  }
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

.ul {
  margin: 0;
  padding: 0;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

.ul li {
  list-style-type: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  padding: 10px 0;
}

.ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 762px) {
  .ul li {
    font-size: 24px;
    line-height: 29px;
  }
}

@media (max-width: 761px) {
  .ul li {
    font-size: 1.2em;
  }
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

.circle {
  display: block;
  float: left;
  border: 3px solid var(--color-task-not-completed);
  border-radius: 50%;
}

@media (min-width: 762px) {
  .circle {
    width: 25px;
    height: 25px;
    margin-right: 15px;
  }
}

@media (max-width: 761px) {
  .circle {
    width: 12px;
    height: 12px;
    margin-right: 8px;
  }
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle i {
  width: 16px !important;
  height: 16px !important;
}

.circle i span {
  background-color: white !important;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

.circle_completed {
  border-color: var(--color-task-completed);
  background-color: var(--color-task-completed);
}

.title_completed {
  color: #c0c0bf;
}
